* {
  box-sizing: border-box;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}

body {
  padding: 20px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.tsubo-table {
  margin-top: 20px;
}
.tsubo-table table {
  text-align: center;
}
